* {
    color: white;
    text-decoration: none;
    --actoncolor: #E6533C;
    --seconderycolor: #ffffff3d;
    --seconderybase:rgba(255, 255, 255, 0.1);
    --basetext:rgb(255, 255, 255, 50%);
    --font: "Inter", sans-serif;
    /* border: 1px solid white; */
}


#logo {
    /* border: 1px solid white; */
    margin: 0;
    font-family: var(--font);
    font-style: italic;
    font-size: 36px;
    font-weight: 800;
    color: var(--actoncolor);
}


body {
    /* border: 1px solid white; */
    margin: 0;
    width: 100%;
    background-color: black;
} 

.heading {
    max-width: 600px;
    margin: 20px auto;
    font-family: var(--font);
    font-size: 48px ;
    font-weight: 900;
}

.content {
    max-width: 600px;
    margin: 10px auto;
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    color: var(--basetext);
}

.btn {
width: 200px;
margin: 10px 0;
border: 1px solid white;
border-radius: 40px;
color:white;
background-color: black;
padding: 16px 0;
font-family: var(--font);
font-size: 18px;
font-weight: 600;
}

.btn:hover {
border: hidden;
border: 1px solid var(--actoncolor);
background-color: var(--actoncolor);
}


nav{
    /* border: 1px solid white; */
    max-width: 1100px;
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    /* border: 1px solid white; */
    border-radius: 20px;
    border: 1px solid var(--seconderycolor);
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.nav-links > li {
    /* border: 1px solid white; */
    list-style: none;
    padding: 10px 20px;
}

.nav-links > li:hover  {
    /* border: 1px solid white; */
    border-radius: 20px;
    background: var(--actoncolor);
}

.togolnav {
    display: none;
}


main{
    /* border: 1px solid white; */
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}


section {
    /* border: 1px solid white; */
    max-width: 1100px;
    margin: 0 auto;
}


#banner {
    /* border: 1px solid white; */
    /* background-image: linear-gradient(rgba(119, 119, 119, 0), rgba(17, 17, 17, 1)); */
    padding: 10px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content-container {
    /* border: 1px solid white; */
    width: 50%;
    max-width: 520px;
}

.hero-content-container > h1 {
    /* border: 1px solid white; */
    font-family: var(--font);
    font-size: 78px;
    font-weight: 900;
    line-height: 94%;
    /* margin-bottom: 100px; */
    margin: 0;
}

.hero-content-container > p {
    /* border: 1px solid white; */
    margin: 20px 0;
    font-family: var(--font);
    font-size: 18px;
    font-weight: 400;
    color: var(--basetext);
}

.extrafont {
    /* border: 1px solid white; */
    font-family: 'Miama', sans-serif;
    font-size: 80px;
    font-weight: 500;
}

.btn-group {
    /* border: 1px solid white; */
    display: flex;
    gap: 20px;
    justify-content: start;
    align-items: center;
}

.hero-image {
    width: auto;
    /* border: 1px solid white; */
    padding: 0 24px;
    position: relative;
}

.hero-image > img {
    /* border: 1px solid white; */
    margin: 0 auto;
}

.stats {
    position: absolute;
    width: 180px;
    height: 80px;
    background: rgba(119, 119, 119, 0.358);
    border-radius: 6px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.stats1 {
    top: 70%; 
    right: 74%;
}

.statu-sign{
    width: 36px;
    height:36px;
    border-radius: 50%;
    background: var(--actoncolor);
}

.stats2 {
    top: 20%; 
    right: -10px; 
}

.state-heading {
    font-size: 24px;
    font-family: var(--font);
    font-weight: 900;
    margin: 0;
}

.state-paragraph{
    font-size: 16px; 
    font-family: var(--font); 
    font-weight: 400; 
    margin: 0; 
    color: var(--basetext)
}


#agenda {
    width: 92%;
    max-width: 1100px;
    text-align: center;
    padding: 52px 0;
}

.habits {
    margin: 48px 10px;
    display: flex;
    justify-content: space-between;
}

.habit {
    width: 220px;

}

.habit-image {
    width:auto;
    border-radius: 50%;
    border: 5px solid rgba(210, 210, 210, 0.069)
}

.habit-heading {
    margin: 30px 0 0;
    font-family: var(--font); 
    font-size: 20px ;
    font-weight: 900;
    
}

.habit-paragraph {
    margin: 10px 0;
    font-family: var(--font); 
    font-size: 14px;
    font-weight: 400;
    color: var(--basetext);
}


#runningClub {
    /* border: 1px solid white; */
    width: 92%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 24px;
    background: var(--seconderybase);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.runningClub-container {
    width: 40%;
    padding: 0px 20px;

}

.runningClub-image {
    border-radius: 16px;
    width: 360px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.runningClub-image > img {
    width: 760px;
    /* aspect-ratio: inherit ; */
    /* object-fit: cover; */
    /* object-position:center; */
}


#specialtrainning {
    /* border: 1px solid white; */
    max-width: 1440px;
    height: fit-content;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
}



#bmi {
    /* border: 1px solid white; */
    max-width: 1440px;
    height: fit-content;
    background:var(--seconderybase);
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
}

.bmi-container {
    /* border: 1px solid white; */
    max-width: 1100px;
    margin: 0 auto 10px;
    padding: 0 20px;
}

.bmi-calculation {
    /* border: 1px solid white; */
    margin: 20px 10px ;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.bmiChart {
    /* border: 1px solid white; */
    width: 36%;
    max-width: 320px;
}
.bmiChart> h3 {
    margin: 16px 0;
    font-family: var(--font);
    font-size: 28px ;
    font-weight: 900;
}

table, th, td {
    border: 1px solid var(--seconderybase);
    padding: 10px;
    color: var(--basetext);
    font-family: var(--font);
    font-size: 14px ;
    font-weight: 500;
}

table {
    width: 92%;
    border-collapse: collapse;
}

th {
    color: white;
    font-family: var(--font);
    font-size: 16px ;
    font-weight: 500;
}

.bmi-cal {
    /* border: 1px solid white; */
    width: 64%;
    max-width: 620px;
}

.bmi-cal > h3 {
    margin: 16px 0;
    font-family: var(--font);
    font-size: 28px ;
    font-weight: 900;
}

.cal {
    /* border: 1px solid white; */
    margin: 36px 0 0;
    display: grid;
    gap: 16px;
}
.cal > div {
    /* border: 1px solid white; */
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
}

input {
    width: auto;
    /* height: 40px; */
    border: none;
    border-radius: 10px;
    background:var(--seconderybase);
    color: var(--basetext);
    padding: 16px 20px ;
    font-family: var(--font);
    font-size: 16px ;
    font-weight: 400;
}

select{
    width: 100%;
    /* height: 40px; */
    border: none;
    border-radius: 10px;
    background:var(--seconderybase);
    color: var(--basetext);
    padding: 16px 10px;
}

select > option {
    padding: 16px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--basetext);
    font-family: black;
    font-size: 16px ;
    font-weight: 400;
}


#team {
    /* border: 1px solid white; */
    width: 92%;
    text-align: center;
    padding: 56px 0;
}

.team-gallery {
    /* border: 1px solid white; */
    margin: 40px 0 0;
    padding: 20px;
    border-radius: 16px;
    display: grid;
    background:var(--seconderybase);
    grid-template-columns: auto auto auto ;
    gap: 20px

}

.member {
    /* border: 1px solid white; */
    width: 100%;
    position: relative;
}

.member > img  {
    /* border: 1px solid white; */
    width: 100%;
    border-radius: 16px;
    aspect-ratio: 5/4;
    margin: auto;
    object-fit: cover;
    opacity: 80%;
}

.member-info {
    position: absolute;
    bottom: 16px;
    left: 16px;
    text-align: left;
}

.member-info > h2 {
    margin: 0;
    font-family: var(--font);
    font-size: 20px ;
    font-weight: 900;
}

.member-info > p {
    margin: 6px 0;
    font-family: var(--font);
    font-size: 14px ;
    font-weight: 400;
    color: var(--basetext);
}


footer {
    /* border: 1px solid white; */
    max-width: 1440px;
    height: fit-content;
    background:var(--seconderybase);
    margin: 0 auto;
    padding: 20px 0;
}

.footer-container {
    /* border: 1px solid white; */
    padding: 32px 20px;
    display: flex;
    justify-content: space-between;
    align-items:start;
    gap: 20px;
}

.footerInfo{
    /* border: 1px solid white; */
    width: 36%;
    max-width: 420px;
}

.footerInfo > h1 {
    /* border: 1px solid white; */
    margin: 0;
    font-family: var(--font);
    font-style: italic;
    font-size: 58px ;
    font-weight: 800;
}

.footerInfo > p {
    /* border: 1px solid white; */
    margin: 24px 0;
    font-family: var(--font); 
    font-size: 14px;
    font-weight: 400;
    color: var(--basetext);
}

.footerLinks {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-link > h3 {
    margin:  10px 0;
    font-family: var(--font); 
    font-size: 32px ;
    font-weight: 700;
}

.list {
    /* border: 1px solid white; */
    margin: 20px 0 0;
    padding: 0;
    list-style-type: none;
}

.list > li {
    /* border: 1px solid white; */
    margin: 10px 0;
}

.list > li > a {
    font-family: var(--font);
    font-size: 20px;
    font-weight: 400;
    color: var(--basetext);
}

.devider {
    border-top: 1px solid var(--seconderybase);
    margin: 20px auto;
}

.copyWrite {
    /* border: 1px solid white; */
    width: 100%;
}

.copyWrite > p{
    /* border: 1px solid white; */
    width: fit-content;
    margin: 6px auto;
    font-family: var(--font);
    font-size: 18px;
    font-weight: 400;
    color: var(--basetext);
} 




/* ------------- Tablet Screen ------------ */
@media screen and (min-width: 577px) and (max-width: 992px) {
    /* * {
        border: 1px solid white;
    } */
    
    nav{
        /* border: 1px solid white; */
        padding: 20px;
    }


    #banner {
        /* border: 1px solid white; */
        padding: 20px 0 0;
        flex-direction: column;
        justify-content: center;
    }

    .hero-content-container {
        /* border: 1px solid white; */
        width: 100%;
    }

    .hero-content-container > h1 {
        /* border: 1px solid white; */
        font-size: 72px;
        /* font-weight: 900; */
        line-height: 90%;
        /* margin-bottom: 100px; */
        margin: 0;
    }

    .hero-content-container > p {
        /* border: 1px solid white; */
        margin: 20px 0;
        /* font-family: "Inter", sans-serif; */
        font-size: 18px;
        /* font-weight: 400; */
        /* color: var(--basetext); */
    }

    .extrafont {
        /* border: 1px solid white; */

        font-size: 80px;
        font-weight: 500;
    }

    .hero-image {
        /* border: 1px solid white; */
        padding: 40px 0px 0px;
        position: relative;
    }

    .hero-image  img {
        /* border: 1px solid white; */
        width: 100%; 
        margin: 0 auto;
    }

    .stats1 {
        top: 74%; 
        right: 74%;
    }
    
    .stats2 {
        top: 30%; 
        left: 70%; 
    }   


    #agenda {
        width: 90%;
        max-width: 560px;
        padding: 36px 0px;
    }
    
    .habits {
        margin: 40px 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;
    }


    #runningClub {
        /* border: 1px solid white; */
        width: 88%;
        padding: 28px;
        border-radius: 10px;
    }

    .runningClub-container {
        /* border: 1px solid white; */
        width: 48%;
        min-width: 300px;
        padding: 0 10px;
    }
    
    .runningClub-image {
        /* border-radius: 16px; */
        width: 280px;
        height: 340px;
    }
    
    .runningClub-image > img {
        width: 700px;
    }


    .bmi-calculation {
        border: 1px solid white;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    .bmiChart {
        /* border: 1px solid white; */
        width: 100%;
        margin: 0 auto;
    }
    .bmiChart> h3 {
        /* border: 1px solid white; */
        margin: 16px  auto;
        text-align: center;
    }
    
    table {
        /* border: 1px solid white; */
        margin: 0 auto;
    }
    
    .bmi-cal {
        /* border: 1px solid white; */
        width: 100%;
        margin: 0 auto;
    }
    
    
    .team-gallery {
        /* border: 1px solid white; */
        padding: 16px;
        grid-template-columns: auto auto auto ;
        gap: 16px
    
    }
    
    .member > img  {
        /* border: 1px solid white; */
        border-radius: 16px;
        aspect-ratio: 4/5;
    }


    footer {
        /* border: 1px solid white; */
        height: fit-content;
    }
    
    .footer-container {
        /* border: 1px solid white; */
        max-width: 92%;
        padding: 40px 20px 20px;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    
    .footerInfo{
        /* border: 1px solid white; */
        width: 80%;
    }

    .footerLinks {
        width: 90%;
        max-width: 520px;
    }
    
    .devider {
        /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
        width: 92%;
        margin: 20px auto;
    }
    
    .copyWrite {
        /* border: 1px solid white; */
        width: 92%;
    }
}




/* ------------- Mobile Screen ------------ */
@media screen and (max-width: 576px) {
    /* * {
        border: 1px solid white;
    } */

    .btn {
        border: 1px solid white;
        width: 170px;
        padding: 16px 10px;
    }


    nav{
        /* border: 1px solid white; */
        padding: 20px 10px;
    }

    .nav-links{
        display: none;
    }

    .togolnav {
        /* border: 1px solid white; */
        display: block;
        width: 24px;
        height: 24px;
    }


    #banner {
        /* border: 1px solid white; */
        padding: 48px 20px 0;
        flex-direction: column;
        justify-content: center;
    }

    .hero-content-container {
        /* border: 1px solid white; */
        width: 100%;
    }

    .hero-content-container > h1 {
        /* border: 1px solid white; */
        width: 280px;
        font-size: 48px;
    }

    .hero-content-container > p {
        /* border: 1px solid white; */
        width: 280px;
        margin: 28px 0;
    }

    .extrafont {
        /* border: 1px solid white; */
        font-size: 52px;
    }

    .btn-group {
        border: 1px solid white;
        display: flex;
        gap: 10px;
        /* justify-content: space-between; */
        align-items: center;
    }
    
    .hero-image {
        /* border: 1px solid white; */
        width: 100%;
        padding: 40px 0px 0px;
    }

    .hero-image > img {
        /* border: 1px solid white; */
        width: 100%;
        margin: 0 auto;
    }

    .stats {
        width: 160px;
        height: 70px;
    }

    .stats1 {
        top: 70%; 
        left: 0px;
    }

    .stats2 {
        top: 30%;
        right: 0px;
    }  


    #agenda {
        border: 1px solid white;
        width: 90%;
        padding: 40px 0px;
    }

    .habits {
        /* border: 1px solid white; */
        margin: 48px 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 28px;
        justify-content: center;
    }


    #runningClub {
        /* border: 1px solid white; */
        width: 80%;
        max-width: 360px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 20px;
        flex-direction: column;
        gap: 20px;
    }

    .runningClub-container {
        /* border: 1px solid white; */
        width: 100%;
        padding: 0px;
    
    }

    .runningClub-image { 
        /* border: 1px solid white; */
        border-radius: 16px;
        width: 100%;
        height: auto;
    }

    .runningClub-image > img {
        width: 100%;
    }



    .bmi-calculation {
        /* border: 1px solid white; */
        padding: 0 ;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }

    .bmiChart {
        /* border: 1px solid white; */
        width: 100%;
        margin: 0 auto;
    }
    .bmiChart> h3 {
        /* border: 1px solid white; */
        margin: 16px  auto;
        text-align: center;
    }
    
    table {
        /* border: 1px solid white; */
        margin: 0 auto;
    }
    
    .bmi-cal {
        /* border: 1px solid white; */
        width: 100%;
        margin: 0 auto;
    }


    #team {
        /* border: 1px solid white; */
        width: 88%;
        padding: 56px 0;
    }
    
    .team-gallery {
        /* border: 1px solid white; */
        border-radius: 16px;
        grid-template-columns: auto;
    }
    
    .member-info {
        bottom: 20px;
        left: 20px;
    }


    .footer-container {
        /* border: 1px solid white; */
        max-width: 94%;
        padding: 40px 20px 20px;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    
    .footerInfo{
        /* border: 1px solid white; */
        width: 100%;
    }
    
    .footerLinks {
        /* border: 1px solid white; */
        width: 100%;
        /* display: flex; */
        flex-direction: column ;
        justify-content: left;
        align-items: start;
    }
    .copyWrite > p{
        /* border: 1px solid white; */
        width: fit-content;
        margin: 6px 20px;
    } 
    
}