* {
    color: white;
    text-decoration: none;
    --actoncolor: #E6533C;
    --seconderycolor: #ffffff3d;
    --basetext:rgb(255, 255, 255, 50%)
    /* border: 1px solid white; */
}


#logo {
    /* border: 1px solid white; */
    margin: 0;
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-size: 36px;
    font-weight: 800;
    color: var(--actoncolor);
}


body {
    /* border: 1px solid white; */
    margin: 0;
    width: 100%;
    background-color: black;
} 

.heading {
    margin: 20px 0;
    font-family: "Inter", sans-serif;
    font-size: 48px ;
    font-weight: 900;
}

.content {
    margin: 10px 0;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--basetext);
}

.btn {
width: 200px;
border: 1px solid white;
border-radius: 40px;
color:white;
background-color: black;
padding: 16px 0;
font-family: "Inter", sans-serif;
font-size: 18px;
font-weight: 600;
}

.btn:hover {
border: hidden;
background-color: var(--actoncolor);
}

nav{
    /* border: 1px solid white; */
    max-width: 1100px;
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    /* border: 1px solid white; */
    border-radius: 20px;
    border: 1px solid var(--seconderycolor);
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.nav-links > li {
    /* border: 1px solid white; */
    list-style: none;
    padding: 10px 20px;
}
.nav-links > li:hover  {
    /* border: 1px solid white; */
    border-radius: 20px;
    background: var(--actoncolor);
}
.togolnav {
    display: none;
}


main{
    /* border: 1px solid white; */
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}


section {
    /* border: 1px solid white; */
    max-width: 1100px;
    margin: 0 auto;
}


#banner {
    /* border: 1px solid white; */
    /* background-image: linear-gradient(rgba(119, 119, 119, 0), rgba(17, 17, 17, 1)); */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content-container {
    /* border: 1px solid white; */
    width: 50%;
    max-width: 520px;
}

.hero-content-container > h1 {
    /* border: 1px solid white; */
    font-family: "Inter", sans-serif;
    font-size: 78px;
    font-weight: 900;
    line-height: 94%;
    /* margin-bottom: 100px; */
    margin: 0;
}

.hero-content-container > p {
    /* border: 1px solid white; */
    margin: 20px 0;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--basetext);
}

.extrafont {
    /* border: 1px solid white; */
    font-family: 'Miama', sans-serif;
    font-size: 80px;
    font-weight: 500;
}

.btn-group {
    /* border: 1px solid white; */
    display: flex;
    gap: 20px;
    justify-content: start;
    align-items: center;
}

.hero-image {
        /* border: 1px solid white; */
    padding: 0 24px;
    position: relative;
}
.stats {
    position: absolute;
    width: 180px;
    height: 80px;
    background: rgba(119, 119, 119, 0.358);
    border-radius: 6px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.stats1 {
    top: 70%; 
    right:74%;
}

.statu-sign{
    width: 36px;
    height:36px;
    border-radius: 50%;
    background: var(--actoncolor);
}

.stats2 {
    top: 20%; 
    right: -10px; 
}

/* .state-content{

} */

.state-heading {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    margin: 0;
}
.state-paragraph{
    font-size: 16px; 
    font-family: 'Inter', sans-serif; 
    font-weight: 400; 
    margin: 0; 
    color: var(--basetext)
}


#agenda {
    text-align: center;
    padding: 52px 0;
}

.habits {
    margin: 48px 10px;
    display: flex;
    justify-content: space-between;
}

.habit {
    width: 220px;

}

.habit-image {
    width:auto;
    border-radius: 50%;
}

.habit-heading {
    margin: 30px 0 0;
    font-family: "Inter", sans-serif;
    font-size: 20px ;
    font-weight: 900;
    
}

.habit-paragraph {
    margin: 10px 0;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--basetext);
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    nav{
        /* border: 1px solid white; */
        padding: 20px;
    }
    #banner {
        /* border: 1px solid white; */
        padding: 20px 0 0;
        flex-direction: column;
        justify-content: center;
    }
    
    .hero-content-container {
        /* border: 1px solid white; */
        width: 100%;
    }
    
    .hero-content-container > h1 {
        /* border: 1px solid white; */
        font-family: "Inter", sans-serif;
        font-size: 72px;
        /* font-weight: 900; */
        line-height: 90%;
        /* margin-bottom: 100px; */
        margin: 0;
    }
    
    .hero-content-container > p {
        /* border: 1px solid white; */
        margin: 20px 0;
        /* font-family: "Inter", sans-serif; */
        font-size: 18px;
        /* font-weight: 400; */
        /* color: var(--basetext); */
    }
    
    .extrafont {
        /* border: 1px solid white; */
        font-family: 'Miama', sans-serif;
        font-size: 80px;
        font-weight: 500;
    }
    
    /* .btn-group { */
        /* border: 1px solid white; */
        /* } */
        
    .hero-image {
        /* border: 1px solid white; */
        padding: 40px 0 0;
        position: relative;
    }


    .stats1 {
        top: 74%; 
        right: 74%;
    }
    
    .stats2 {
        top: 30%; 
        left: 70%; 
    }   
    
    #agenda {
        width: 90%;
        max-width: 560px;
        padding: 36px 0px;
    }
    
    .habits {
        margin: 40px 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;
    }
}





@media screen and (max-width: 576px) {
    .btn {
        border: 1px solid white;
        width: 170px;
        padding: 16px 10px;
    }

    nav{
        /* border: 1px solid white; */
        padding: 20px 10px;
    }

    .nav-links{
        display: none;
    }

    .togolnav {
        /* border: 1px solid white; */
        display: block;
        width: 24px;
        height: 24px;
    }


    #banner {
        /* border: 1px solid white; */
        padding: 48px 20px 0;
        flex-direction: column;
        justify-content: center;
    }
    
    .hero-content-container {
        /* border: 1px solid white; */
        width: 100%;
    }
    
    .hero-content-container > h1 {
        /* border: 1px solid white; */
        width: 280px;
        font-size: 48px;
    }
    
    .hero-content-container > p {
        /* border: 1px solid white; */
        width: 280px;
        margin: 28px 0;
    }
    
    .extrafont {
        /* border: 1px solid white; */
        font-size: 52px;
    }

    .btn-group {
        /* border: 1px solid white; */
        display: flex;
        gap: 10px;
        /* justify-content: space-between; */
        align-items: center;
    }
    
    .hero-image {
        /* border: 1px solid white; */
        padding: 40px 24px;
    }

    .stats {
        width: 160px;
        height: 70px;
    }

    .stats1 {
        top: 70%; 
        left: 0px;
    }
    .stats2 {
        top: 30%;
        right: 0px;
    }  
    
    #agenda {
        width: 90%;
        padding: 36px 0px;
    }
    
    .habits {
        margin: 48px 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 28px;
        justify-content: center;
    }
}